<section id="projects-header">
  <div class="container">
    <div class="row">
      <div class="col text-center pt-5">
        <h1 class="display-4">Take test part in new projects</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sunt hic asperiores
          dignissimos! Exercitationem vero, vel minima earum mollitia placeat!</p>
        <a href="" class="btn btn-success mr-2" data-toggle="modal" data-target="#projectFormModal">Submit your own</a>
        <a href="" class="btn btn-warning ">Browse existing Projects</a>
        <hr>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <div class="row py-4">
    <div class="col offset-2">
      <h4>Project suggestions for you :</h4>
    </div>
  </div>
  <div class="col-8 offset-2">
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let project of projects">
        <div class="project">
          <div class="row bg-light">
            <div class="col-4 align-self-center">
              <div class="rounded py-1">
                <a href="" target="_blank">
                  <img src="https://source.unsplash.com/random/500x400" class="img-fluid" alt=""/>
                </a>
              </div>
            </div>
            <div class="col-8 align-self-center text-left">
              <h3>{{project.name}}</h3>
              <p>
                {{project.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</section> -->


<section id="projects-list" class="mx-4">
  <div class="row">
    <div class="col-md-3 rounded shadow bg-white p-3" style="height: min-content">

      <h3>Filter Projects :</h3>

      <form class="" style="">
        <div class="form-group">
          <label for="field">Tag</label>
          <select id="field" class="form-control mb-2" (change)="filterProjects()" [(ngModel)]="selectedTag" name="selectedTag">
            <option value="">All tags</option>
            <ng-container *ngFor="let t of tags">
              <option value="{{t}}">{{t}}</option>
            </ng-container>
          </select>

          <label for="city">City</label>
          <select id="city" class="form-control mb-2" (change)="filterProjects()" [(ngModel)]="selectedCities" name="selectedCity">
            <option value="">All Cities</option>
            <ng-container *ngFor="let t of cities">
              <option value="{{t}}">{{t}}</option>
            </ng-container>
          </select>

        </div>
      </form>
    </div>

    <div class="container col-9">
      <div class="rounded shadow bg-white p-5">
        <div class="card-columns">
          <div class="card" *ngFor="let project of filteredProjects">
            <div class="card-header">
              <a class="" routerLink="/project/{{project.id}}">
                <h5>
                  <i class="fas fa-caret-right"></i>
                  {{project.name}}
                </h5>
              </a>
            </div>
            <div class="card-body">
              <div class="card-title" *ngIf="project.tags.length">
                <button *ngFor="let tag of project.tags" class="btn btn-sm btn-outline-info mr-1 disabled">
                  {{tag}}
                </button>
              </div>
              <small class="text-muted">Created by {{project.creator.loginName}}</small>
              <p class="card-text">{{project.description}}</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="projectFormModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-row mb-4">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentProject.name" placeholder="Name" name="name">
            </div>
          </div>

          <div class="card-title" *ngIf="currentProject.tags.length">
            <button *ngFor="let tag of currentProject.tags" class="btn btn-sm btn-outline-danger mr-1" (click)="removeTag(tag)">
              {{tag}}
            </button>
          </div>
          <div class="form-row mb-4">
            <div class="col input-group">
              <input type="text" class="form-control" placeholder="Add a new tag" [(ngModel)]="tag" name="tag">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="addTag()">Add</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="description2">Description</label>
            <textarea id="description2" [(ngModel)]="currentProject.description" class="form-control"
                      name="description"></textarea>
          </div>

          <label>Address</label>
          <div class="form-row mb-1">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentProject.location.streetAddress" placeholder="Address"
                     name="address">
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentProject.location.zipCode" placeholder="City" name="city">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentProject.location.city" placeholder="Country"
                     name="country">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentProject.location.country" placeholder="Country" name="country">
            </div>
          </div>

        </form>
      </div>
      <div *ngIf="error" class="alert alert-danger mb-0">
        {{error}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitProjectsForm()">Submit</button>
      </div>
    </div>
  </div>
</div>

