<div *ngIf="project">
  <section id="project-header" class="mb-4">
    <div class="container">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-4">{{project.name}}</h1>
        </div>
      </div>
    </div>
  </section>

<!--  TODO : iterate on lists of users-->
  <row class="col-md-8 offset-md-2 d-flex justify-content-around">
    <div class="">
      <span class="mr-1">Created by :</span>
      <button class="btn btn-circle">A</button>
      <button class="btn btn-circle">B</button>
    </div>

    <div class="">
      <span class="mr-1">Followers :</span>
      <button class="btn btn-circle">C</button>
      <button class="btn btn-circle">D</button>
    </div>

    <a (click)="likeProject(project.id)" [hidden]="liked" class="btn btn-secondary">
      Like
    </a>
    <a (click)="unlikeProject(project.id)" [hidden]="!liked" class="btn btn-danger">
      Unlike
    </a>

    <a (click)="followProject(project.id)" [hidden]="followed" class="btn btn-secondary">
      Follow
    </a>
    <a (click)="unfollowProject(project.id)" [hidden]="!followed" class="btn btn-danger">
      Unfollow
    </a>
  </row>

  <hr>

  <section id="project-description" class="col-md-8 offset-md-2">
    <p class="lead">
      {{project.description}}
    </p>
  </section>

</div>
