<div *ngIf="project">
  <section id="project-header" class="mb-4">
    <div class="container">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-4">{{project.name}}</h1>
          <div *ngIf="project.hashTags.length">
            <button *ngFor="let tag of project.hashTags" class="btn btn-outline-light mr-1 disabled">
              {{tag}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <row class="col-md-8 offset-md-2 d-flex justify-content-around">

    <div class="">
      <span class="mr-1">Created by : {{project.creator.loginName}}</span>
<!--      <span class="mr-1">Created by : {{project.creator.firstName}} {{project.creator.lastName}}</span>-->
    </div>

    <div class="" *ngIf="project.follows.length">
      <span class="mr-2">Followers </span>
      <button class="btn-circle mr-1" *ngFor="let user of project.follows"
              [ngStyle]="{'background-color': getRandomColor()}"
              title="{{user.loginName}}">
        {{user.loginName[0]}}
      </button>
    </div>

    <div>
      <a (click)="likeProject(project.id)" [hidden]="liked" class="btn btn-secondary mr-1">
        Like
      </a>
      <a (click)="unlikeProject(project.id)" [hidden]="!liked" class="btn btn-danger mr-1">
        Unlike
      </a>

      <a (click)="followProject(project.id)" [hidden]="followed" class="btn btn-secondary">
        Follow
      </a>
      <a (click)="unfollowProject(project.id)" [hidden]="!followed" class="btn btn-danger">
        Unfollow
      </a>
    </div>

    <a (click)="createChat()" class="btn btn-secondary">
      Chat about this
    </a>

  </row>

  <hr>

  <section id="project-description" class="col-md-8 offset-md-2">
    <p class="lead">
      {{project.description}}
    </p>
  </section>

</div>
