<section id="resource-header" class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col text-center pt-5">
        <h1 class="display-4">Resources & Events</h1>
        <p class="lead">
          Here you will find a collection of online resources to help you and your enterprise be more competitive and
          innovative
        </p>
        <hr>
      </div>
    </div>
  </div>
</section>

<div class="row mx-4">

  <div class="col-md-6">
    <h4 class="text-center text-white">Resources</h4>
    <div *ngFor="let res of resources" class="card m-3">
          <img src="{{res.img}}" class="card-img" alt="">
          <div class="card-body">
            <h5 class="card-title">{{res.name}}</h5>
            <p class="card-text">
              {{res.description}}
            </p>
            <a href="{{res.link}}" class="card-link">See more >></a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h4 class="text-center text-white">Upcoming Events</h4>
    <div *ngFor="let evt of events" class="card m-3">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="{{evt.img}}" class="card-img" alt="">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">{{evt.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{evt.date}}</h6>
            <p class="card-text">
              {{evt.description}}
            </p>
            <a href="{{evt.link}}" class="card-link">See more >></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
