<section id="marketplace-header">
  <div class="container">
    <div class="row">
      <div class="col text-center pt-5">
        <h1 class="display-4">Browse job offers and requests</h1>
        <hr>
      </div>
    </div>
  </div>
</section>

<section class="mx-4">
  <div class="row">
    <div class="col-md-3 rounded shadow bg-white p-3" style="height: min-content">

      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#itemFormModal">New Item</button>

      <form class="mt-3">
        <div class="form-group">
          <div class="form-group">
            <label for="filter">Filter by type</label>
            <select class="form-control" name="type" id="filter" [(ngModel)]="type" (change)="filterItems()">
              <option value="ALL">All</option>
              <option value="OFFER">Offer</option>
              <option value="REQUEST">Request</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="col-9">
      <div class="rounded shadow bg-white p-5">
        <div class="card-columns">
          <div class="card" *ngFor="let item of items">
            <div class="card-body">
              <a class="card-title" routerLink="/marketplaceItem/{{item.id}}">
                <i class="fas fa-caret-right"></i>
                <span class="h5"> {{item.name}}</span>
              </a>
              <span class="text-muted" *ngIf="item.price !== 0">  {{item.price}}€</span>

              <p class="text-muted" >{{item.location.city}} - {{item.location.country}}</p>
              <p class="card-text">{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="itemFormModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-row mb-4">
            <div class="col">
              <label for="type">Name</label>
              <input class="form-control" type="text" [(ngModel)]="currentItem.name" placeholder="Name" name="name">
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <label for="type">Type</label>
              <select class="form-control" name="type" id="type" [(ngModel)]="currentItem.type">
                <option value="OFFER">Offer</option>
                <option value="REQUEST">Request</option>
              </select>
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <label for="type">Price</label>
              <input class="form-control" type="number" [(ngModel)]="currentItem.price" placeholder="Price" name="price">
            </div>
          </div>

          <label>Address</label>
          <div class="form-row mb-1">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentItem.location.streetAddress" placeholder="Address"
                     name="address">
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentItem.location.zipCode" placeholder="City" name="city">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentItem.location.city" placeholder="Country"
                     name="country">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentItem.location.country" placeholder="Country" name="country">
            </div>
          </div>

          <div class="form-group">
            <label for="description2">Description</label>
            <textarea id="description2" [(ngModel)]="currentItem.description" class="form-control"
                      name="description"></textarea>
          </div>

        </form>
      </div>
      <div *ngIf="error" class="alert alert-danger mb-0">
        {{error}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitItemForm()">Submit</button>
      </div>
    </div>
  </div>
</div>
