.chat {
  height: 100%;
}

.channels {
  background-color: #819bb8;
  overflow-y: scroll;
  height: 100%;
}

.channel {
  background-color: #dbdbdb;
  width: 100%;
}

.channel:hover {
  background-color: #67cdcc;
}

.channel.selected {
  background-color: white;
}

.messages {
  overflow-y: scroll;
}

.message {
  color: white;
}

.field {
  position: absolute;
  bottom: 0;
  width: 95%;
}


