<div class="home">
<section class="title-section">
  <div class="container">
    <div class="row">
      <div class="col m-auto text-center py-5">
        <h1 class="display-1">Agora</h1>
        <p class="lead">The new place to expand your business</p>
        <a routerLink="/login" class="btn btn-outline-light">Register now</a>
      </div>
    </div>
  </div>
</section>

  <div class="row">
      <div class="col-4 offset-1 py-4 text-center">
        <h2>
          Show your Project ideas to the world
        </h2>
        <p>Submit your project ideas and discover new projects around the world</p>
      </div>

      <div class="col-4 offset-2 py-4 text-center">
        <h2>
          Find new people and companies to work with
        </h2>
        <p>Let people know what you can do on the marketplace, or work with new people and companies</p>
      </div>
  </div>



  <div class="col-md-4 offset-md-4 py-4 text-center">
    <h2>
      Chat with others without leaving the platform
    </h2>
    <p>Chat with others about projects with the built-in chat function</p>
  </div>
</div>
