<div *ngIf="item">
  <section id="item-header" class="mt-4">
    <div class="container">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-4 text-white">{{item.name}}</h1>
        </div>
      </div>
    </div>
  </section>

  <row class="col-md-8 offset-md-2 d-flex justify-content-around text-white">

    <div class="">
      <ng-container *ngIf="item.creator.type == 'PERSON'">
        <span class="mr-1">Submitted by : {{item.creator.firstName}} {{item.creator.lastName}}</span>
      </ng-container>
      <ng-container *ngIf="item.creator.type == 'COMPANY' || item.creator.type == 'INSTITUTION'">
        <span class="mr-1">Submitted by : {{item.creator.displayName}}</span>
      </ng-container>
    </div>

    <div class="">
      <span class="mr-1">{{item.location.city}} - {{item.location.country}}</span>
    </div>

    <div class="">
      <span class="mr-1">Price : {{item.price}}€</span>
    </div>

    <button (click)="createChat()" class="btn btn-sm btn-outline-light">
      Chat about this
    </button>

  </row>

  <hr>

  <section id="item-description" class="col-md-8 offset-md-2">
    <p class="lead text-white">
      {{item.description}}
    </p>
  </section>

</div>
