<div class="container">
  <h1 class="display-5 mt-3 ">Profile</h1>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-4" >
      <div class="card h-100" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{currentUser.firstName}} {{currentUser.lastName}}</h5>
          <h6 class="card-subtitle mb-2">Engineer</h6>
          <h class="card-text">
            <p class="text-muted">
              {{currentUser.description}}
            </p>
          </h>
          <p>
            price €
          </p>
          <p>
            <span >Texte description</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
