<div class="container">
  <h1 class="display-5 mt-3 ">Profile</h1>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{currentUser.firstName}} {{currentUser.lastName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{currentUser.email}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{currentUser.phoneNumber}}</h6>
          <div class="card-text">
            <p class="text-muted">
              {{currentUser.description}}
            </p>
          </div>
          <div class="mb-4" *ngIf="currentUser.likedProjects.length">
            <span class="mr-2">Liked Projects</span>
            <button class="btn-circle mr-1" *ngFor="let project of currentUser.likedProjects"
            routerLink="/project/{{project.id}}"
            [ngStyle]="{'background-color': getRandomColor()}"
            title="{{project.name}}">
              {{project.name[0]}}
            </button>
          </div>

          <div class="" *ngIf="currentUser.followedProjects.length">
            <span class="mr-2">Followed Projects </span>
            <button class="btn-circle mr-1" *ngFor="let project of currentUser.followedProjects"
                    routerLink="/project/{{project.id}}"
                    [ngStyle]="{'background-color': getRandomColor()}"
                    title="{{project.name}}">
              {{project.name[0]}}
            </button>
          </div>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileFormModal">
          Edit Profile
        </button>
      </div>
    </div>

    <div class="container col-sm-12 col-md-6 col-lg-8">
      <div class="rounded shadow bg-white p-5">
        <div class="row">
          <div class="col">
            <h3 class="font-weight-light align-self-center">My Projects</h3>
          </div>
          <div class="col text-right">
            <button class="btn btn-secondary" data-toggle="modal" data-target="#projectFormModal"
                    (click)="resetForm()">Submit a new project
            </button>
          </div>
        </div>
        <hr class="mt-1 mb-2 bg-dark">
        <div class="card mb-2" *ngFor="let project of currentUser.createdProjects">
          <div class="card-body">
            <div class="col-10">
              <div class="card-title">
                <a routerLink="/project/{{project.id}}">
                <span class="heading-5 mr-2">
                  <i class="fas fa-caret-right"></i>
                  {{project.name}}
                </span>
                </a>
                <button class="btn btn-sm btn-primary mr-1" type="button" (click)="onEditProject(project)"><i
                  class="fas fa-edit"></i></button>
                <button class="btn btn-sm btn-secondary" type="button" (click)="onDeleteProject(project.id)"><i
                  class="fas fa-trash-alt"></i></button>
              </div>
              <p class="card-text">{{project.description}}</p>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col">
            <h3 class="font-weight-light align-self-center">My Marketplace</h3>
          </div>
          <div class="col text-right">
            <button class="btn btn-secondary" data-toggle="modal" data-target="#itemFormModal"
                    (click)="resetForm()">Submit a new offer or request
            </button>
          </div>
        </div>

        <hr class="mt-1 mb-2 bg-dark">
        <div class="card mb-2" *ngFor="let item of currentUser.marketplaceItems">
          <div class="card-body">
            <div class="card-title">
              <a class="" routerLink="/marketplaceItem/{{item.id}}">
                <i class="fas fa-caret-right"></i>
                <span class="h5 mr-3"> {{item.name}}</span>
              </a>
              <button class="btn btn-sm btn-primary mr-1" type="button" (click)="onEditItem(item)"><i
                class="fas fa-edit"></i></button>
              <button class="btn btn-sm btn-secondary" type="button" (click)="onDeleteItem(item.id)"><i
                class="fas fa-trash-alt"></i></button>
            </div>
            <p class="card-text">{{item.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="profileFormModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-row mb-4">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentUser.firstName" placeholder="Firstname"
                     name="firstname">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentUser.lastName" placeholder="Lastname"
                     name="lastname">
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <label for="utype">Type</label>
              <select class="form-control" name="utype" id="utype" [(ngModel)]="currentUser.type">
                <option value="PERSON">Person</option>
                <option value="COMPANY">Company</option>
                <option value="INSTITUTION">Institution</option>
              </select>
            </div>
          </div>

          <label>Contact</label>
          <div class="form-row mb-4">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentUser.email" placeholder="Email" name="email">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentUser.phoneNumber"
                     placeholder="Phone number" name="phonenumber">
            </div>
          </div>

          <label>Address</label>
          <div class="form-row mb-1">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentUser.location.streetAddress" placeholder="Address"
                     name="address">
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentUser.location.zipCode" placeholder="City" name="city">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentUser.location.city" placeholder="Country"
                     name="country">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentUser.location.country" placeholder="Country" name="country">
            </div>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" [(ngModel)]="currentUser.description" class="form-control"
                      name="description"></textarea>
          </div>

        </form>
      </div>
      <div *ngIf="error" class="alert alert-danger mb-0">
        {{error}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateProfile()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="projectFormModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="editMode" class="modal-title">Edit Project</h5>
        <h5 *ngIf="!editMode" class="modal-title">Create Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-row mb-4">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentProject.name" placeholder="Name" name="name">
            </div>
          </div>

          <div class="card-title" *ngIf="currentProject.tags.length">
            <button *ngFor="let tag of currentProject.tags" class="btn btn-sm btn-outline-danger mr-1" (click)="removeTag(tag)">
              {{tag}}
            </button>
          </div>
          <div class="form-row mb-4">
            <div class="col input-group">
              <input type="text" class="form-control" placeholder="Add a new tag" [(ngModel)]="tag" name="tag">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="addTag()">Add</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="description2">Description</label>
            <textarea id="description2" [(ngModel)]="currentProject.description" class="form-control"
                      name="description"></textarea>
          </div>

          <label>Address</label>
          <div class="form-row mb-1">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentProject.location.streetAddress" placeholder="Address"
                     name="address">
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentProject.location.zipCode" placeholder="City" name="city">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentProject.location.city" placeholder="Country"
                     name="country">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentProject.location.country" placeholder="Country" name="country">
            </div>
          </div>

        </form>
      </div>
      <div *ngIf="error" class="alert alert-danger mb-0">
        {{error}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitProjectsForm()">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="itemFormModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="editMode" class="modal-title">Edit Item</h5>
        <h5 *ngIf="!editMode" class="modal-title">Create Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-row mb-4">
            <div class="col">
              <label for="type">Name</label>
              <input class="form-control" type="text" [(ngModel)]="currentItem.name" placeholder="Name" name="name">
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <label for="type">Type</label>
              <select class="form-control" name="type" id="type" [(ngModel)]="currentItem.type">
                <option value="OFFER">Offer</option>
                <option value="REQUEST">Request</option>
              </select>
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <label for="type">Price</label>
              <input class="form-control" type="number" [(ngModel)]="currentItem.price" placeholder="Price" name="price">
            </div>
          </div>

          <label>Address</label>
          <div class="form-row mb-1">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentItem.location.streetAddress" placeholder="Address"
                     name="address">
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentItem.location.zipCode" placeholder="City" name="city">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentItem.location.city" placeholder="Country"
                     name="country">
            </div>
            <div class="col">
              <input class="form-control" type="text" [(ngModel)]="currentItem.location.country" placeholder="Country" name="country">
            </div>
          </div>

          <div class="form-group">
            <label for="description3">Description</label>
            <textarea id="description3" [(ngModel)]="currentItem.description" class="form-control"
                      name="description"></textarea>
          </div>

        </form>
      </div>
      <div *ngIf="error" class="alert alert-danger mb-0">
        {{error}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitItemForm()">Submit</button>
      </div>
    </div>
  </div>
</div>
